/*---------------------------------------------------------------*/
/* Global Style
/*---------------------------------------------------------------*/

html,body {width:100%;}

body {
	margin: 0px;
	font-family: HelvNeuRoman, Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 13px;
	color: #555;
}

p {
	font-size: 13px;
	line-height: 18px;
}

a {
	color: #cd239d;
	text-decoration: none;
}
a:hover {
	color: #555;
}

.content {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
}

img { 
    border: none;
	max-width: 100%; 
    height: auto; 
}